@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('https://assets.hcaor.org/fonts/hmos/HarmonyOS_Sans_SC_Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('https://assets.hcaor.org/fonts/hmos/HarmonyOS_Sans_SC_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('https://assets.hcaor.org/fonts/hmos/HarmonyOS_Sans_SC_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('https://assets.hcaor.org/fonts/hmos/HarmonyOS_Sans_SC_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('https://assets.hcaor.org/fonts/hmos/HarmonyOS_Sans_SC_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('https://assets.hcaor.org/fonts/hmos/HarmonyOS_Sans_SC_Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #ffffff;
  color: #0A0A0A;
  overflow-x: hidden;
  font-family: 'HarmonyOS Sans SC', sans-serif;
}

::selection {
  background-color: #FBFA2D;
  color: #000;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}